:root {
  scroll-behavior: smooth;

  /* Fonts */
  --primary-font: "Open Sans", sans-serif;
  --secondary-font: "Raleway", sans-serif;
  /* Colors */
  --primary-cl: #303030;
  --secondary-cl: #555555;
  --accent-cl: #6cb06c;
  --light-cl: #fff;
  --accent-cl-gold: #d2a325;
  --light-bg: #f7f7f7;
  --dark-cl: #111319;
  --grey-cl: #9da4bd;
  --grey-cl-20: rgba(157, 164, 189, 0.2);
  --grey-cl-40: rgba(157, 164, 189, 0.4);
  --grey-cl-60: rgba(157, 164, 189, 0.6);
  /* Others */
  --primary-gradient: linear-gradient(
    180deg,
    #171a24 0%,
    rgba(23, 26, 36, 0.2) 100%
  );
  --secondary-gradient: linear-gradient(
    180deg,
    #090b13 0%,
    rgba(9, 11, 19, 0.2) 100%
  );
  --image-filter: linear-gradient(rgba(25, 28, 38, 0.2), rgba(25, 28, 38, 0.2));
  --indent: 30px;
  --items: 3;

  --anim-fast: 300ms ease;
  --anim-slow: 600ms ease;

  /* Breakpoints */
  --phone: 320px;
  --tablet: 768px;
  --desktop: 1440px;
}

/* Base styles */
body {
  font-family: var(--primary-font);
  /* color: var(--primary-cl); */
}

/* reset */
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

a {
  text-decoration: none;
  color: currentColor;
}

ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

button {
  font-family: inherit;
  cursor: pointer;
}

/* Респонсивні контентні зображення */
img {
  display: block;
  max-width: 100%;
  height: auto;
}

/* Common styles */
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* .section {
    padding: 20px 0;
} */

/* @media only screen and (min-width: 768px) {
    .section {
        padding: 20px 0;
    }
}

@media only screen and (min-width: 1200px) {
    .section {
        padding: 20px 0;
    }
} */

.breakpoints {
  /* HW */
  --mobile: 428px;
  --tablet: 768px;
  --desktop: 1158px;
}

/* Phone screens (small) */
.container {
  min-width: 320px;
  max-width: 448px;
  margin: 0 auto;
  padding: 0 15px;
  background-color: #000;
  /*
  outline: 2px solid red;
  outline-offset: -2px; */
}

/* Tablet screens (medium) */
@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
  }
}

/* Desktop screens (large) */
@media screen and (min-width: 1200px) {
  .container {
    max-width: 1200px;
  }
}

.main-title {
  margin-bottom: 20px;
  font-family: var(--primary-font);
  font-size: 25px;
  text-align: center;
  line-height: 1.16;
  letter-spacing: 0.02em;
  color: #daa520;
}
@media only screen and (min-width: 768px) {
  .main-title {
    font-size: 35px;
    line-height: 1.16;
  }
}
@media only screen and (min-width: 1200px) {
  .main-title {
    font-size: 50px;
    line-height: 1.18;
  }
}

.uppertitle {
  margin-bottom: 20px;
  margin-left: 200px;
  display: flex;
  align-items: center;
  gap: 20px;

  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  text-transform: uppercase;
}

.uppertitle::before {
  content: "";
  display: inline-block;
  width: 60px;
  height: 1px;
  background-color: var(--primary-cl);
}

.uppertitle-dark {
  color: var(--grey-cl-60);
}

.uppertitle-dark:before {
  background-color: var(--grey-cl-60);
}

.title {
  margin-bottom: 20px;
  font-size: 28px;
  line-height: 1.17;
  letter-spacing: 0.02em;
}

@media only screen and (min-width: 1200px) {
  .title {
    font-size: 42px;
    color: #fff;
    padding-top: 100px;
  }
}

.title-dark {
  margin-bottom: 44px;
  color: var(--accent-cl-gold);
}

.subtitle {
  font-size: 16px;
  line-height: 1.62;

  letter-spacing: 0.02em;
  color:var(--accent-cl-gold);
  padding-top: 70px;
  letter-spacing: 0.02em;
}

@media only screen and (min-width: 768px) {
  .subtitle {
    font-size: 18px;
    line-height: 1.67;
  }
}

.btn {
  min-width: 160px;
  padding: 11px 19px;

  font-weight: 700;
  font-size: 12px;
  line-height: 1.33;
  letter-spacing: 0.09em;
  text-transform: uppercase;
  color: var(--accent-cl-gold);

  background-color: transparent;
  border: 3px solid var(--accent-cl);
  border-radius: 25px;

  transition: color var(--anim-fast), background-color var(--anim-fast);
}

.btn-dark {
  color: var(--accent-cl-gold);
}

.btn:hover,
.btn:focus {
  color: #000;
  background-color: var(--accent-cl);
}

/**
  |============================
  | Flexbox grid
  |============================
*/
.card-set {
  display: flex;
  flex-wrap: wrap;
  gap: var(--indent);
}

.card-set-item {
  flex-basis: calc((100% - var(--indent) * (var(--items) - 1)) / var(--items));
}

/**
  |============================
  | Header styles
  |============================
*/
.header {
  position: absolute;
  top: 0;

  width: 100%;
  padding: 40px 0;
  z-index: 100;

  transition: background-color var(--anim-slow),
    backdrop-filter var(--anim-slow);
}

@media only screen and (min-width: 768px) {
  .header {
    padding: 32px 0;
  }
}

@media only screen and (min-width: 1200px) {
  .header {
    padding: 22px 0;
  }
}

.header.no-transparency {
  background-color: rgba(17, 19, 25, 0.3);
  backdrop-filter: blur(4px);
}

.header-container {
  display: flex;
  align-items: center;
  height: 80px;
}

.header-logo {
  margin-right: 70px;
}

@media only screen and (min-width: 1200px) {
  .header-logo {
    margin-right: 124px;
  }
}

.header-icon {
  transition: fill var(--anim-slow);
}

@media only screen and (max-width: 767px) {
  .header-icon {
    fill: var(--light-cl);
    width: 85px;
    height: 40px;
  }
}

@media only screen and (min-width: 426px) and (max-width: 1199px) {
  .header-icon {
    width: 119px;
    height: 56px;
  }
}

.header.no-transparency .header-icon {
  fill: var(--light-cl);
}

.header-nav {
  margin-right: auto;
}

@media only screen and (max-width: 768px) {
  .header-nav {
    display: none;
  }

  .header-btn {
    display: none;
  }
}

.header-list {
  display: flex;
  align-items: center;
  gap: 16px;
}

@media only screen and (min-width: 1200px) {
  .header-list {
    gap: 30px;
  }
}

.header-link {
  display: block;
  padding: 30px 0;

  font-weight: 600;
  font-size: 12px;
  line-height: 1.33;
  letter-spacing: 0.1em;
  color: var(--accent-cl-gold);
  transition: color var(--anim-slow);
}

.header-link:hover,
.header-link:focus {
  color: var(--accent-cl);
}

.header-wrapper {
  display: flex;
  align-items: center;
  gap: 40px;
  padding-right: 20px;
}

.header-contact {
  font-weight: 600;
  font-size: 12px;
  line-height: 1.33;
  letter-spacing: 0.1em;
  color: var(--accent-cl-gold);
  transition: color var(--anim-slow);
}

.header-contact:hover,
.header-contact:focus {
  color: var(--accent-cl);
}

@media only screen and (max-width: 1199px) {
  .header-contact {
    display: none;
  }
}

@media only screen and (max-width: 767px) {
  .header-btn {
    display: none;
  }
}

/**
  |============================
  | Hero styles
  |============================
*/


 @media only screen and (max-width: 480px) {
  .hero {
    background-image: var(--image-filter), url(./img/hero_bg_brick.jpg);
  }

  @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    .hero {
      background-image: var(--image-filter), url(./img/hero_bg_brick.jpg);
    }
  }
}

.hero-container {
  position: relative;
  display: flex;
}

.hero-left-side {
  display: flex;
  align-items: flex-end;

  width: 100px;
}

@media only screen and (max-width: 767px) {
  .hero-left-side {
    display: none;
  }
}

.hero-networks {
  transform: rotate(-90deg) translateX(40px) translateY(26px);
  transform-origin: center left;
}

.networks {
  display: flex;
  align-items: center;
  gap: 40px;
}

.networks::before {
  content: "";

  width: 60px;
  height: 1px;
  background-color: var(--primary-cl);
}

.networks-link {
  display: block;

  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  letter-spacing: 0.2em;
  color: var(--primary-cl);

  transition: color var(--anim-slow);
}

.networks-link:hover,
.networks-link:focus {
  color: var(--accent-cl);
}

.hero-right-side {
  padding-top: 250px;
  padding-bottom: 209px;
  height: 370px;
  flex-grow: 1;
  background-repeat: no-repeat;
  background-image: var(--image-filter), url(./img/hero_bg_brick.jpg);
  background-size: cover;
}

@media only screen and (min-width: 768px) {
  .hero-right-side {
    height: 550px;
    padding-bottom: 237px;
    padding-left: 350px;
    background-color: var(--dark-cl);
    background-image: var(--image-filter), url(./img/hero_bg_brick.jpg);
  }

  @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    .hero-right-side {
      background-image: var(--image-filter), url(./img/hero_bg_brick.jpg);
    }
  }
}

@media only screen and (min-width: 1200px) {
  .hero-right-side {
    padding-bottom: 208px;
    background-image: var(--image-filter), url(./img/hero_bg_brick.jpg);
  }

  @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    .hero-right-side {
      background-image: var(--image-filter), url(./img/hero_bg_brick.jpg);
    }
  }
}

.hero-uppertitle {
}

@media only screen and (min-width: 1200px) {
  .hero-uppertitle {
    width: fit-content;
    animation: move-to-bottom 800ms ease-in 600ms both;
  }
}

@media only screen and (min-width: 1200px) {
  .hero-title {
    width: 750px;
    text-align: -webkit-right;
    padding-left: 100px;
    /* padding-top: 100px; */

    animation: tracking-in-expand-fwd 800ms cubic-bezier(0.215, 0.61, 0.355, 1)
      600ms both;
  }
}

.hero-desc {
  max-width: 336px;

  font-size: 16px;
  line-height: 1.62;
  color: var(--grey-cl);
}

@media only screen and (min-width: 768px) {
  .hero-desc {
    max-width: 550px;
    font-size: 18px;
    line-height: 1.67;
    padding-left: 200px;
  }
}

@media only screen and (min-width: 1200px) {
  .hero-desc {
    animation: move-to-top 600ms ease-in 1900ms both;
  }
}

/* animations */
@keyframes move-to-bottom {
  0% {
    opacity: 0;
    transform: translateY(-100px);
  }

  50% {
    opacity: 0.6;
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes move-to-top {
  0% {
    opacity: 0;
    transform: translateY(100px);
  }

  50% {
    opacity: 0.6;
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes move-to-left {
  0% {
    opacity: 0;
    transform: translateX(300px);
  }

  50% {
    opacity: 0.6;
  }

  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes tracking-in-expand-fwd {
  0% {
    letter-spacing: 0.02em;
    transform: translateZ(-700px);
    filter: blur(12px);
    opacity: 0;
  }

  40% {
    opacity: 0.6;
  }

  100% {
    transform: translateZ(0);
    opacity: 1;
    filter: blur(0px);
  }
}

.hero-controls {
  position: absolute;
  right: 35px;
  bottom: 40px;

  display: flex;
  align-items: center;
  gap: 24px;
}

@media only screen and (max-width: 767px) {
  .hero-controls {
    display: none;
  }
}

.hero-controls-btn {
  min-width: 60px;
  min-height: 24px;
  padding: 0;
  padding-bottom: 8px;

  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  letter-spacing: 0.1em;
  color: var(--accent-cl-gold);

  background-color: transparent;
  border: none;
  border-bottom: 3px solid var(--accent-cl-gold);
}

.hero-controls-btn.btn-prev {
  text-align: left;
}

.hero-controls-btn.btn-next {
  text-align: right;
}

.hero-controls-btn.disabled {
  color: var(--grey-cl-60);
  border-color: var(--grey-cl-60);
}

.hero-pagination {
  display: flex;
  gap: 20px;

  position: absolute;
  bottom: 30px;
  transform: translateX(50%);
  right: 50%;
}

@media only screen and (min-width: 768px) {
  .hero-pagination {
    height: 30px;
    flex-direction: column;
    align-items: flex-end;
    gap: 12px;

    top: 50%;
    transform: translateY(-50%);
    right: 35px;
  }
}

.hero-pagination-item {
  width: 40px;
  height: 2px;
  background-color: var(--grey-cl);
}

@media only screen and (min-width: 768px) {
  .hero-pagination-item {
    width: 8px;
  }
}

.hero-pagination-item:last-child {
  margin-bottom: 0;
}

.hero-pagination-item.active {
  background-color: var(--light-cl);
}

@media only screen and (min-width: 768px) {
  .hero-pagination-item.active {
    width: 18px;
  }
}
/* ADVANTAGES */
.advantages-container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: auto;
  padding: 20px;

  background-color: black;
}

@media only screen and (min-width: 768px) {
  .advantages-container {
    padding: 50px 32px;
    width: 768px;
    flex-direction: row;
    align-items: stretch;
    justify-content: center;
  }
}

@media only screen and (min-width: 1200px) {
  .advantages-container {
    padding: 100px 50px;
    width: 1200px;
  }
}

.advantages-list {
  display: flex;
  flex-direction: column;
  row-gap: 20px;
}

@media only screen and (min-width: 768px) {
  .advantages-list {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    column-gap: 60px;
    row-gap: 32px;
  }
}

.advantages-list-item {
  width: 308px;
}

@media only screen and (min-width: 1200px) {
  .container-trans::before {
    display: flex;
    flex-wrap: wrap;
    content: "";
    width: 124px;
    border: 1px solid rgba(255, 255, 255, 0.5);
    transform: rotate(-90deg) translateX(-124px) translateY(-132px);
  }
}

@media only screen and (min-width: 1200px) {
  .advantages-list {
    gap: 88px;
  }
}

.icon-advantages-field {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 62px;
  height: 62px;

  border: 1px solid rgba(255, 255, 255, 0.5);
  border-radius: 365px;

  margin-bottom: 22px;
}
.icon {
  display: inline-block;
  width: 1em;
  height: 1em;
  stroke-width: 0;
  stroke: currentColor;
  fill: currentColor;
}

.icon-advantages {
  fill: white;
  background-size: cover;
  stroke: white;
}

.advantages-title {
  font-weight: 600;
  font-size: 18px;
  line-height: 1.22;
  color: var(--accent-cl-gold);
  margin-bottom: 18px;
}

.advantages-desc {
  max-width: 308px;

  font-size: 12px;
  line-height: 1.67;
  letter-spacing: 0.1em;
  font-family: var(--primary-font);
  color: white;
}

/**
  |============================
  | About styles
  |============================
*/
.about {
  padding-top: 50px;
}

@media only screen and (min-width: 768px) {
  .about-container {
    display: flex;
    gap: 30px;
    padding-bottom: 120px;
  }
}

.project-title{
  background-color:#000;
  color:var(--accent-cl-gold);
  text-align: center;
  padding-bottom: 30px;
  padding-top: 50px;
}
@media only screen and (min-width: 325px) {
  .about-list {
    display: flex;
    flex-direction: column;
    gap: 30px;
    padding-left: 40px;
  }
}

@media only screen and (min-width: 1200px) {
  .about-list {
    flex-direction: row;
  }
}

.about-item {
  overflow: hidden;
}

.about-img {
  transition: transform 1200ms linear;
  width: 250px;
  height: 310px;
}

.about-img-horizontal{
    width: 350px;
    height: 263px;
}

.about-item:hover .about-img {
  transform: scale(1.2);
}

@media only screen and (min-width: 768px) and (max-width: 1199px) {
  .about-img {
    width: 200px;
    height: 245px;
  }

  .left {
    width: 265px;
    height: 190px;
    
  }
}

.union{
    width: 224px;
    height: 224px;
    margin-left: 150px;
    background: #fff;
    
}

.union-item{
  padding-top: 30px;
}
/* .wraper-sides{
  margin-top: 50px;
} */

.right-side{
  margin-right: 90px;
  
}

.first{
  margin-right: 70px;
  
}
@media only screen and (min-width: 768px) {
  .about-right-side {
    width: 330px;
  }
}

@media only screen and (min-width: 1200px) {
  .about-right-side {
    width: 470px;
  }
}

@media only screen and (min-width: 768px) {
  .about-left-side {
    width: 330px;
    padding-left: 40px;
    margin-right: 40px;
  }
}

@media only screen and (min-width: 1200px) {
  .about-left-side {
    width: 470px;
  }
  .left {
    width: 265px;
    height: 190px;
  }
}

.about-desc {
  font-size: 14px;
  line-height: 1.86;
  letter-spacing: 0.02em;
  color: var(--accent-cl-gold);
}

@media only screen and (min-width: 768px) {
  .about-desc {
    margin-bottom: 77px;
  }
}

@media only screen and (min-width: 1200px) {
  .about-desc {
    margin-bottom: 42px;
  }
}

/* FOOTER */

.list {
  list-style: none;
}

.link {
  text-decoration: none;
}

.footer {
  margin: auto;
}

@media only screen and (min-width: 768px) {
  .footer {
    max-width: 768px;
    margin: auto;
  }
}

@media only screen and (min-width: 1200px) {
  .footer {
    max-width: 1200px;
    margin: auto;
  }
}

.footer-common-container {
  padding: 32px 20px;
  margin: 0 auto;
 
}

@media only screen and (min-width: 768px) {
  .footer-common-container {
    max-width: 768px;
    padding: 50px 32px;
  }
}

@media only screen and (min-width: 768px) {
  .footer-common-container {
    max-width: 1200px;
    padding: 50px 32px;
    background-color: #000;
  }
}

.footer-container {
  display: flex;
  flex-direction: column;
}

@media only screen and (min-width: 768px) {
  .footer-container {
    flex-direction: row;
    justify-content: space-between;
  }
}

.footer-subtitle {
  width: 300px;
  font-weight: 500;
  font-size: 24px;
  line-height: 1.17;
  letter-spacing: -0.02em;
  color: var(--light-cl);
  margin-bottom: 32px;
}

@media only screen and (min-width: 768px) {
  .footer-subtitle {
    font-size: 28px;
    line-height: 1.21;
  }
}

.subtitle-word {
  color: var(--light-cl);
}

.subtitle-text {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.28;
  color: var(--light-cl);
  margin-bottom: 14px;
}

.contacts-container {
  display: flex;
  justify-content: space-between;
  margin-bottom: 32px;
}

@media only screen and (min-width: 768px) {
  .contacts-container {
    gap: 50px;
  }
}

@media only screen and (min-width: 768px) {
  .contacts-container {
    gap: 63px;
  }
}

.mail-tel-container {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.footer-contacts-link {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.28;
  letter-spacing: -0.02em;
  color: var(--light-cl);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

@media screen and (min-width: 1200px) {
  .footer-contacts-link:hover,
  .footer-contacts-link:focus {
    color: var(--accent-cl-gold);
  }
}

.footer-contacts-list {
}

.footer-contacts-item {
  margin-bottom: 4px;
}

.footer-socials-list {
  display: flex;
  gap: 14px;
}

@media only screen and (min-width: 768px) {
  .footer-socials-list {
    gap: 18px;
  }
}

.socials-item {
}

.footer-socials-link {
}

@media screen and (min-width: 1200px) {
  .footer-socials-link:hover .icon-footer,
  .footer-socials-link:focus .icon-footer {
    stroke: var(--accent-cl-gold);
  }
}

.icon-footer {
  stroke: #ffffff;
  fill: none;
  transition: stroke 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-nav-list {
  display: flex;
  flex-direction: column;
  gap: 18px;
}

@media only screen and (min-width: 768px) {
  .footer-nav-list {
    flex-direction: row;
    gap: 24px;
  }
}

.footer-nav-item {
}

.footer-nav-link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: -0.02em;
  color: var(--light-cl);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

@media screen and (min-width: 1200px) {
  .footer-nav-link:hover,
  .footer-nav-link:focus {
    color: var(--accent-cl-gold);
  }
}

.devider {
  height: 1px;
  background-color: rgba(255, 255, 255, 0.1);
  margin-bottom: 32px;
}

@media only screen and (min-width: 768px) {
  .devider {
    margin-bottom: 24px;
    margin-top: 0px;
  }
}

@media only screen and (min-width: 1200px) {
  .devider {
    margin-top: 62pxpx;
  }
}

/* ====== Mobile menu burger ======= */
.site-nav {
  display: flex;
}
.menu-container {
  background-color: #000;
}

.mobile-burger-menu {
  margin-left: auto;
}

.mobile-menu-burger{
margin-right: 30px;
}

.green{
  color: var(--accent-cl);
  
}
.menu-toggle-burger {
  margin-left: auto;
  background-color: transparent;
  border: none;
  border-radius: 50%;
  padding: 0;

  width: 32px;
  height: 22px;
}
.mobile-menu-close {
  width: 8px;
  height: 8px;
  color: #2e2f42;
}

.menu-toggle-close {
  position: absolute;
  background-color:var(--accent-cl);
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;

  width: 24px;
  height: 24px;

  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  top: 24px;
  right: 24px;

  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-media-list-mobile {
  display: flex;
  justify-content: space-between;
}

.social-media-link {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

@media screen and (min-width: 768px) {
  .menu-toggle {
    display: none;
  }
}

.menu-toggle:hover,
.menu-toggle:focus {
  background-color: rgba(0, 0, 0, 0.1);
}

.menu-container {
  display: flex;
  flex-direction: column;
  position: fixed;
  top: 0;
  right: 0;
  width: 80vw;
  height: 100vh;
  padding-top: 80px;
  padding-left: 70px;
  padding-bottom: 40px;
  padding-right: 35px;
  background: #000;
  box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
  z-index: 999;

  transform: translateX(100%);
  transition: transform 250ms ease-in-out;
}

.menu-container.is-open {
  transform: translateX(0);
}

.menu-container .menu-toggle {
  position: absolute;
  top: 16px;
  right: 16px;
  color: #2e2f42;
}

.mobile-menu {
  display: flex;
  gap: 30px;
  flex-direction: column;
  text-decoration: none;
  list-style-type: none;
  margin-bottom: 150px;
}
.mobile-menu-item {
  padding: 0;
  margin: 0;
  list-style: none;
  font-weight: 700;
  font-size: 30px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: var(--accent-cl-gold);
}

.mobile-menu-contact {
  display: flex;
  gap: 20px;
  flex-direction: column;
  /* margin-bottom: 70px; */

  text-decoration: none;
  list-style-type: none;
}

.mobile-menu-contact-item {
  padding: 0;
  margin: 0;
  list-style: none;
  font-weight: 550;
  font-size: 20px;
  line-height: 1.11;
  letter-spacing: 0.02em;

  color: var(--accent-cl-gold);
}

@media screen and (min-width: 320px) and (max-width: 428px) {
  .mobile-menu-contact-item {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2px;
    letter-spacing: 0.02em;
    color: var(--accent-cl-gold);
  }

  .mobile-menu-item {
    font-size: 20px;
  }

  .mobile-menu-contact-item {
    font-size: 14px;
  }
}

.mobile-menu-contact-item:hover,
.mobile-menu-contact-item:focus {
  color: var(--accent-cl);
}
.mobile-menu-item:hover,
.mobile-menu-item:focus {
  color: var(--accent-cl);
}

@media screen and (min-width: 769px) {
  .mobile-burger-menu {
    display: none;
  }
  .container-page{
 padding: 50px;
}
}


/* ABOUT US */

.section_us{
  padding-top: 25px;
  
}

.container-page{
 padding: 30px;
}

@media screen and (min-width: 769px) {
  .mobile-burger-menu {
    display: none;
  }
  .container-page{
 padding: 50px;
}
}

.main-desc-title{
  color: #f7f7f7;
  /* margin: 50px; */
  /* text-align: center; */
  color: var(--accent-cl);
  padding-left: 70px;

}

.small{
  font-size: 18px;
}

.list-desc{
  list-style: circle;
  padding-left: 100px;
  margin-bottom: 20px;
}
.one{
  /* margin: 50px 0px; */
  text-align: justify;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.05em;
}

.contact{
margin-top: 50px;
}

.main-desc{
  color: #f7f7f7;
  margin-top: 10px;
  padding-left: 50px;
  padding-right: 20px;
  margin-bottom: 20px;

  /* display: block;
  padding: 30px 0;
  font-family: var(--secondary-font);
  font-weight: 400;
  font-size: 24px;
  line-height: 1.21;
  letter-spacing: 0.1em;
  color: var(--accent-cl-gold); */
}

.green{
  color: var(--accent-cl);
}

.wraper-sides{
  display: flex;
}

/* .services-item{
  margin-left: 100px;

} */

.second{
  margin-left: 130px;
}

.third{
  margin-left: 100px;
}